.nyclogo {
  max-height: 80px;
  max-width: 200px;
  margin-left: 40px;
}

body {
  height: 125vh;
  background-size: cover;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
}

main {
  color: black;
  background: white;
  margin-left: 40px;
  margin-right: 40px;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 10px;
}

header li a {
  color: black;
  text-decoration: none;
  font-family: "Bungee", cursive;
}

h1 {
  font-family: "Bungee", cursive;
  color: white;
  text-align: center;
}

h2 {
  font-family: "Bungee", cursive;
  background: white;
  color: black;
}

h3 {
  font-family: "Bungee", cursive;
}

.paragraph {
  color: black;
  background: white;
  font-family: "Abel", sans-serif;
}

footer {
  color: white;
  text-align: center;
}

p {
  font-family: "Abel", sans-serif;
}

a {
  font-family: "Bungee", cursive;
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.sports-grid {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px 20px;
}
.cell {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}
.cell-1 {
  background-image: url("images/yankees.jpg");
  background-size: 500px;
}
.cell-2 {
  background-image: url("images/mets.jpg");
  background-size: 700px;
}
.cell-3 {
  background-image: url("images/jets.jpg");
  background-size: 700px;
}
.cell-4 {
  background-image: url("images/knicks.jpg");
  background-size: 700px;
}
.cell-5 {
  background-image: url("images/rangers.jpg");
  background-size: 700px;
}
.cell-6 {
  background-image: url("images/nets.jpg");
  background-size: 700px;
}
.cell-7 {
  background-image: url("images/giants.jpg");
  background-size: 700px;
}
