a:link {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

a:visited {
  text-decoration: none;
  font-weight: bold;
  color: red;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.Header {
  background-color: lightblue;
  font-family: Optima, sans-serif;
  padding: 10px;
  text-align: center;
}

.name {
  font-family: "Pacifico", cursive;
}

#address {
  font-family: "Poppins", sans-serif;
}
#Intro {
  font-family: "Nanum Gothic", sans-serif;
}

#cherokee {
  text-decoration: underline;
}

#miami {
  text-decoration: underline dotted;
}
table {
  border: solid;
  borderwidth: 3px;
}
